 .work{
    padding-bottom: 94px;
  }
  .specialty-text {
  line-height: 1.7;
  color: var(--p-color);
  margin-top: 10px;
  }
  .work-list{
    list-style: none;
    display: flex;
    justify-content: space-around;
  gap: 30px;

  }
  .work-pick-tumb{
    position: relative;
    display: flex;
  }